@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  /* Makes header and footer stay at top and bottom even when window is resized */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;

  /* my code */
  padding: 5px 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* my solution */
a {
  text-decoration: none;
  color: #666;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.left-links, .right-links {
  display: flex;
  gap: 16px;
}
/* instead of using left-links and right-links, can add all to ul instead
ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px
}*/

.footer {
  background-color: #eeeeee;
}

/* allows content to stay centered even at it's smallest size */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}